/* utils */
.icon-ajax-loader {
	background: url("../img/ajax-loader.gif") no-repeat;
	background-position: 0 0;
	width: 16px !important;
	height: 16px !important;
}

/* map */
#map,
#nav {
	position: absolute;
}
#map {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#nav {
	top: 10px;
	right: 10px;
	width: 270px;
	z-index: 100;
	background: rgba(255, 255, 255, .85);
}
h1 {
	font-size: 22px;
	margin-bottom: 0;
}
.nav-container {
	margin: 7px;
}
.nav-container p,
.nav-container select {
	margin: 0 0 0 10px;
}
label.radio {
	margin-right: 4px;
}
label.title {
	margin-top: 6px;
}