/* utils */
.icon-ajax-loader {
	background: url("../img/ajax-loader.gif") no-repeat;
	background-position: 0 0;
	width: 16px !important;
	height: 16px !important;
}
#loading {
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -50px;
	width: 100px;
	height: 100px;
	border: 8px solid #fff;
	border-right-color: transparent;
	border-radius: 50%;
	box-shadow: 0 0 25px 2px #eee;
	-webkit-animation: spin 1s linear infinite;
	-moz-animation: spin 1s linear infinite;
	-ms-animation: spin 1s linear infinite;
	-o-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}
@-webkit-keyframes spin
{
	from { -webkit-transform: rotate(0deg); opacity: 0.4; }
	50%  { -webkit-transform: rotate(180deg); opacity: 1; }
	to   { -webkit-transform: rotate(360deg); opacity: 0.4; }
}

@-moz-keyframes spin
{
	from { -moz-transform: rotate(0deg); opacity: 0.4; }
	50%  { -moz-transform: rotate(180deg); opacity: 1; }
	to   { -moz-transform: rotate(360deg); opacity: 0.4; }
}

@-ms-keyframes spin
{
	from { -ms-transform: rotate(0deg); opacity: 0.4; }
	50%  { -ms-transform: rotate(180deg); opacity: 1; }
	to   { -ms-transform: rotate(360deg); opacity: 0.4; }
}

@-o-keyframes spin
{
	from { -o-transform: rotate(0deg); opacity: 0.4; }
	50%  { -o-transform: rotate(180deg); opacity: 1; }
	to   { -o-transform: rotate(360deg); opacity: 0.4; }
}

@keyframes spin
{
	from { transform: rotate(0deg); opacity: 0.2; }
	50%  { transform: rotate(180deg); opacity: 1; }
	to   { transform: rotate(360deg); opacity: 0.2; }
}


/* map */
#map,
#nav {
	position: absolute;
}
#map {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#nav {
	top: 10px;
	right: 10px;
	width: 200px;
	z-index: 100;
	background: rgba(255, 255, 255, .65);
}
h1 {
	font-size: 15px;
	margin-bottom: 0;
}
.nav-container {
	margin: 7px;
}
.nav-container p,
.nav-container select {
	margin: 0 0 0 10px;
}
label.radio {
	margin-right: 4px;
}
label.title {
	margin-top: 6px;
}

.leaflet-container div.leaflet-control-time {
	margin-left: 13px;
	margin-top: 12px;
}
.leaflet-control-time-play {
	-webkit-border-radius: 4px 4px;
	border-radius: 4px 4px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
	width: 22px;
	height: 22px;
	text-align: center;
	text-decoration: none;
	color: black;
}